In [27]:
import pandas as pd
import numpy as np
import ast

In [28]:
df = pd.read_csv('Dataset - Text Similarity (1).csv')

In [29]:
df.head()

,userMessage,userMessage2,confidenceLevel,sourceValue,compareValue,Unnamed: 5
0,Beneficiary Name,Check for Consistency of Company Names,0.17,CHANGZHOU ECCO ROLLER CO LTD,"['CHANGZHOU ECCO ROLLER CO LTD', 'Certificate ...",NaN
1,Remitter Name,Check for Consistency of Company Names,0.24,BRITISH INDIA ENGINEERING CORPORATION,"['', 'BRITISH INDIA ENGINEERING CORPORATI ONIN...",NaN
2,Beneficiary Name,Check for Consistency of Company Names,0.35,SHANDONG OPTIMA MACHINERY CO LTD,[Ll|jl il I II 1 I li II I ill II 'll I SHANDO...,NaN
3,Beneficiary Bank Name,Check for Consistency of Company Names,0.37,BANK OF CHINA (THAI) PUBLIC COMPANY LIMITED,"['', 'BANK OF CHINA']",NaN
4,Beneficiary Name,Check for Consistency of Company Names,0.05,NINGBO LANDSIGN ELECTRIC APPLIANCE CO.LTD.,"['L 5', 'NINGBO LANDSIGN ELECTRIC APPLIANCE CO...",NaN

In [30]:

df.drop('Unnamed: 5' , axis =1,inplace = True)

In [31]:
df.drop('userMessage2' ,axis =1,inplace= True)

In [32]:
df.head()

,userMessage,confidenceLevel,sourceValue,compareValue
0,Beneficiary Name,0.17,CHANGZHOU ECCO ROLLER CO LTD,"['CHANGZHOU ECCO ROLLER CO LTD', 'Certificate ..."
1,Remitter Name,0.24,BRITISH INDIA ENGINEERING CORPORATION,"['', 'BRITISH INDIA ENGINEERING CORPORATI ONIN..."
2,Beneficiary Name,0.35,SHANDONG OPTIMA MACHINERY CO LTD,[Ll|jl il I II 1 I li II I ill II 'll I SHANDO...
3,Beneficiary Bank Name,0.37,BANK OF CHINA (THAI) PUBLIC COMPANY LIMITED,"['', 'BANK OF CHINA']"
4,Beneficiary Name,0.05,NINGBO LANDSIGN ELECTRIC APPLIANCE CO.LTD.,"['L 5', 'NINGBO LANDSIGN ELECTRIC APPLIANCE CO..."

In [33]:
df['userMessage'].unique()

array(['Beneficiary Name', 'Remitter Name', 'Beneficiary Bank Name',
       'Comodity description matches between CRL and DGFT Site',
       'Beneficiary Bank country', 'Beneficiary Country',
       'Amount in Words',
       'Remitter Name of CRL is present in Branch address of icegate',
       'Remitter Name of CRL check with companyname of ICEGATE',
       'Goods Description',
       'Beneficiary Bank Name check of CRL and IBAN Validator website',
       'Country of Origin'], dtype=object)

In [34]:
conf = df[df['userMessage'] == 'Beneficiary Bank country' ]

In [35]:
conf['sourceValue'].unique()

array(['CHINA', 'U.A.E.', 'US PACIFIC ISLANDS (US)', 'HONG KONG', 'DUBAI',
       'UNITED STATES', 'SINGAPORE', 'CANADA', 'UNITED ARAB EMIRATES',
       'TAIWAN', 'UNITED KINGDOM', 'SOUTH KOREA', 'SWEDEN', 'ZAMBIA',
       'INDIA', 'UK', 'Singapore', 'Hong Kong'], dtype=object)

In [36]:
conf['compareValue'].unique()

array(["['HongKong']", "['TANZANIA']", "['Hong Kong']", "['USA']",
       "['Singapore']", "['United Arab Emirates']", "['Germany']",
       "['CHINA']", "['CZECH REPUBLIC']", "['CANADA', 'ITALY']",
       "['U.A.E.']", "['HK']", "['U.A.E']", "['Taiwan.PIN42743']",
       "['', 'U.A.E.']", "['HONGKONG']", "['HK', 'CHINA']", "['UK']",
       "['UAE']", "['HONG KONG']",
       "['Hong Kong', 'Hong Kong', 'Hong Kong', 'Hong Kong', 'Hong Kong', 'Hong Kong', 'Hong Kong']",
       "['Hong Kong', 'Hong Kong']", "['CANADA']", "['KOREA']",
       "['CHINA', 'CHINA']", "['CHW']", "['ESTONIA']", "['China']",
       "['PROVINCE.CHINA']", "['ITALY']", "['Switzerland']",
       "['Singapore', 'China']", "['UAE', 'United Arab Emirates']",
       "['JAPAN']", "['England']"], dtype=object)

In [37]:
conf

,userMessage,confidenceLevel,sourceValue,compareValue
6,Beneficiary Bank country,0.13,CHINA,['HongKong']
25,Beneficiary Bank country,0.13,U.A.E.,['TANZANIA']
32,Beneficiary Bank country,0.12,CHINA,['Hong Kong']
35,Beneficiary Bank country,0.12,CHINA,['Hong Kong']
42,Beneficiary Bank country,0.29,US PACIFIC ISLANDS (US),['USA']
...,...,...,...,...
513,Beneficiary Bank country,0.00,UK,['England']
518,Beneficiary Bank country,0.22,Singapore,['CHINA']
529,Beneficiary Bank country,0.25,UNITED ARAB EMIRATES,['CHINA']
535,Beneficiary Bank country,0.89,Hong Kong,['HONGKONG']
538,Beneficiary Bank country,0.40,DUBAI,['UAE']

In [38]:
conf = conf.applymap(lambda s: s.lower() if isinstance(s, str) else s)

In [4]:
conf.head(20)

NameError: name 'conf' is not defined

In [40]:
conf = conf.reset_index(drop=True)

In [41]:
conf['compareValue']=conf['compareValue'].str.replace('\'' , '')

In [42]:
to_list = lambda x: x.strip("[]").split(", ") if isinstance(x, str) else x

In [43]:
conf['compareValue'] = conf['compareValue'].apply(to_list)

In [44]:
conf['compareValue']

0      [hongkong]
1      [tanzania]
2     [hong kong]
3     [hong kong]
4           [usa]
         ...
67      [england]
68        [china]
69        [china]
70     [hongkong]
71          [uae]
Name: compareValue, Length: 72, dtype: object

In [45]:
from geopy.geocoders import Nominatim
from geopy.distance import geodesic
from fuzzywuzzy import fuzz

ModuleNotFoundError: No module named 'geopy'

In [46]:
import requests

In [3]:
conf

NameError: name 'conf' is not defined

In [48]:
from math import radians, sin, cos, sqrt, atan2
def similarity_metric(sourceValue ,compareValue):
    # Use the OpenStreetMap Nominatim API to obtain the latitude and longitude of the source location
    source_url = f"https://nominatim.openstreetmap.org/search?q={sourceValue}&format=json&limit=1"
    source_data = requests.get(source_url).json()
    if len(source_data) > 0:
        source_lat = source_data[0]["lat"]
        source_lon = source_data[0]["lon"]
    else:
        print(f"No results found for {sourceValue}")
        exit()

    # Use the OpenStreetMap Nominatim API to obtain the latitude and longitude of the comparison location
    compare_url = f"https://nominatim.openstreetmap.org/search?q={compareValue}&format=json&limit=1"
    compare_data = requests.get(compare_url).json()
    if len(compare_data) > 0:
        compare_lat = compare_data[0]["lat"]
        compare_lon = compare_data[0]["lon"]
    else:
        print(f"No results found for {compareValue}")
        exit()

    # Calculate the distance between the two locations using the Haversine formula
    R = 6371  # Earth radius in kilometers
    lat1 = radians(float(source_lat))
    lon1 = radians(float(source_lon))
    lat2 = radians(float(compare_lat))
    lon2 = radians(float(compare_lon))
    dlat = lat2 - lat1
    dlon = lon2 - lon1
    a = sin(dlat / 2) ** 2 + cos(lat1) * cos(lat2) * sin(dlon / 2) ** 2
    c = 2 * atan2(sqrt(a), sqrt(1 - a))
    distance = R * c
    # Compute the similarity score based on the distance between the two locations
    max_distance = 20000  # Maximum distance in kilometers for a perfect match
    similarity_score = 100 - 100 * min(distance / max_distance, 1.0)
    return similarity_score

In [49]:
import requests

In [50]:
import requests
from math import radians, sin, cos, sqrt, atan2

In [51]:
sourceValue = "sourceValue"
compareValue = "compareValue"

In [52]:
t = []
l = []
for i in conf['sourceValue']:
    for j in conf['compareValue']:
        l = []
        for k in range(len(j)):
            l.append(similarity_metric(i,j[k]))
            print(l)
        t.append(l)
conf['similarity'] = t

[91.64276136655901]
[57.14792061330256]
[91.64276136655901]
[91.64276136655901]
[43.502617446683466]
[81.28537334730454]
[74.85191299566648]
[63.280504212297814]
[100.0]
[100.0]
[64.50581720332255]
[55.39082055153266]
[55.39082055153266, 61.832576493142135]
[74.85191299566648]
[91.67125561557651]
[91.67125561557651]
[74.85191299566648]
[91.64276136655901]
No results found for taiwan.pin42743

UnboundLocalError: local variable 'compare_lat' referenced before assignment

In [2]:
conf.head()

NameError: name 'conf' is not defined

In [ ]:
import requests
from math import radians, sin, cos, sqrt, atan2

# Define the names of the two locations to compare
sourceValue = "Dubai"
compareValue = "United Arab Emirates"

# Use the OpenStreetMap Nominatim API to obtain the latitude and longitude of the source location
source_url = f"https://nominatim.openstreetmap.org/search?q={sourceValue}&format=json&limit=1"
source_data = requests.get(source_url).json()
if len(source_data) > 0:
    source_lat = source_data[0]["lat"]
    source_lon = source_data[0]["lon"]
else:
    print(f"No results found for {sourceValue}")
    exit()

# Use the OpenStreetMap Nominatim API to obtain the latitude and longitude of the comparison location
compare_url = f"https://nominatim.openstreetmap.org/search?q={compareValue}&format=json&limit=1"
compare_data = requests.get(compare_url).json()
if len(compare_data) > 0:
    compare_lat = compare_data[0]["lat"]
    compare_lon = compare_data[0]["lon"]
else:
    print(f"No results found for {compareValue}")
    exit()

# Calculate the distance between the two locations using the Haversine formula
R = 6371  # Earth radius in kilometers

lat1 = radians(float(source_lat))
lon1 = radians(float(source_lon))
lat2 = radians(float(compare_lat))
lon2 = radians(float(compare_lon))

dlat = lat2 - lat1
dlon = lon2 - lon1

a = sin(dlat / 2) ** 2 + cos(lat1) * cos(lat2) * sin(dlon / 2) ** 2
c = 2 * atan2(sqrt(a), sqrt(1 - a))

distance = R * c

# Compute the similarity score based on the distance between the two locations
max_distance = 20000  # Maximum distance in kilometers for a perfect match
similarity_score = 100 - 100 * min(distance / max_distance, 1.0)

print(similarity_score)